/* COLORS */
$color-primary: #584FFF;
$color-primary-medium: #9B95FF;
$color-primary-light: #BCB9FF;
$color-primary-ultra-light: #DEDDFE;

$color-grey-dark: #57586E;
$color-grey-medium: #878794;
$color-grey-light: #D7D7DB;
$color-grey-ultra-light: #EBEBED;

$color-white: #fff;
$color-black: #37364D;

$color-signal: #ff584f;


/* LAYOUT */
$max-width: 1024px;