@import "vendor/config";
@import "settings";

#home .header {
  background-color: $color-primary;

  .header__logo svg path {
    fill: $color-white;
  }

  .header_navigation li a {
    color: $color-white;
  }

  .header_icons li a svg path {
    stroke: $color-white;

    &.wheel {
      fill: $color-white;
    }
  }

  &.background_overlay {
    background: $color-white;;

    .header__logo svg path {
      fill: $color-primary;
    }

    .header_navigation li a {
      color: $color-black;
    }

    .header_icons li a svg path {
      stroke: $color-black;

      &.wheel {
        fill: $color-black;
      }
    }
  }
}

.header {
  background-color: $color-white;
  height: 104px;
  padding: 32px 0;

  .open_menu {
    @media screen and (min-width: calc(#{$break-medium + 1px})) {
      display: none;
    }
  }

  .header__logo svg path {
    fill: $color-primary;
  }
  
  .header_navigation li a {
    color: $color-black;
  }
  
  .header_icons li a svg path {
    stroke: $color-black;
  
    &.wheel {
      fill: $color-black;
    }
  }
}

.header__logo {
  margin-left: 40px;
  max-width: 60%;
  height: 40px;

    @media screen and (max-width: $break-medium) {
      margin-left: 20px;
    }
}

.header_navigation {
  display: none;
  font-size: 0;

  @media screen and (min-width: calc(#{$break-medium + 1px})) {
    display: block;
    position: absolute;
    top: 32px;
    left: 120px;
  }

  @media screen and (min-width: 1302px) {
    width: 1024px;
    left: calc(50% - 512px);
    right: calc(50% - 512px);
  }

  li {
    display: inline-block;

    &.active {
        a::after {
          content: "";
          display: block;
          height: 2px;
          background-color: $color-primary-medium;
          transform: translateY(-2px);
          opacity: 1;
          @include all-transitions;
        }

        a:hover {
          &::after {
            opacity: 1;
            transform: translateY(-2px);
          }
        }
    }
    
    a {
      display: inline-block;
      color: $color-white;
      font-size: 16px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: 1px;
      padding: 0 24px 0 0;

      &::after {
        content: "";
        display: block;
        height: 2px;
        background-color: $color-primary-medium;
        transform: translateY(8px);
        opacity: 0;
        @include all-transitions;
      }

      &:hover {
        &::after {
          opacity: 1;
          transform: translateY(-2px);
        }
      }
    }
  }
}