@import "vendor/config";
@import "settings";

.product_details {

}

.product_name {
  font-size: 16px;
  font-weight: 700;
}

.product_price {
  font-size: 16px !important;
  font-weight: 400;
}

.product.sold {

}