{% if theme.home_tagline != blank %}
  <div class="home_tagline">
    {{ theme.home_tagline }}
  </div>
{% endif %}

<h2 class="home_faq">
  But what is actually generated art?<br> Learn more about the <a href="/faq">process</a> behind the prints.
</h2>

{% if theme.featured_products > 0 %}
  {% paginate products from products.current by theme.featured_products %}
    {% if products != blank %}
      <h3 class="featured_products">Newest Prints</h3>
      <ul class="product_list">
        {% for product in products %}
          <li class="{{ product.css_class }}{% if theme.show_overlay == 'On rollover' %} show_overlay{% endif %}">
            <a href="{{ product.url }}">
              <div class="products_imageContainer">
                <div class="products_image" style="background-image: url('{{ product.image | product_image_url | constrain: 1200  }}')"></div>
              </div>
              <div class="product_details">
      					{% case product.status %}
      						{% when 'active' %}
      							{% if product.on_sale %}<div class="product_status">On Sale</div>{% endif %}
      						{% when 'sold-out' %}
      							<div class="product_status">Sold Out</div>
      						{% when 'coming-soon' %}
      							<div class="product_status">Coming Soon</div>
      					{% endcase %}
                <div class="product_name">{{ product.name }}</div>
                <div class="product_price">{{ product.default_price | money: theme.money_format }}</div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="no_products">No products found.</p>
    {% endif %}
  {% endpaginate %}
{% endif %}